@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);

html {
    font-family: 'Open Sans', sans-serif;
    color: rgb(22,15,18);
    background-color:  rgb(96,58,64);
}

body {
    padding: 20px 50px;
    background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
  }

header {
    color: rgb(48,33,39);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1.2;
    text-shadow: rgb(132,89,107) 3px 2px 0;
}

select {
    background-color: rgb(187, 164, 174);
    border: 1px solid  rgb(132,89,107);
    border-radius: 3px;
    height: 40px;
    width: 200px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 40px;
}

#all {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-column-gap: 5%;
}

#days {
    margin-left:-40px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#days li {
    height: 70px;
    background-color: rgb(187, 164, 174);
    border: 1px solid  rgb(132,89,107);
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
}

#change {
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    border: 3px solid  rgb(132,89,107);
    border-radius: 5px;
}

#chheading {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(48,33,39);
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 24px;
}

#allevents {
    list-style-type: none;
    font-size: 16px;
}

#newevent {
    visibility: hidden;
}

#changehead {
    display: grid;
    grid-template-columns: 80% 15%;
}

#changeback {
    height: 24px;
    margin-top: 24px;
    background-color: rgb(187, 164, 174);
    border: 1px solid  rgb(132,89,107);
    border-radius: 3px;
    visibility: hidden;
}

#addevent {
    height: 24px;
    background-color: rgb(187, 164, 174);
    border: 1px solid  rgb(132,89,107);
    border-radius: 3px;
}

#neweventform {
    list-style-type: none;
}